<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-lazy-init="true">

    <!-- 定义使用服务的的消费者bean -->
    <bean id="referenceBean" abstract="true" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="consumer" ref="consumerConfig"/>
        <property name="registry" ref="registryConfig"/>
        <property name="version" value="${consumer.default_version}"/>
        <property name="retries" value="0"/>
    </bean>

    <bean id="consumerConfig" class="com.alibaba.dubbo.config.ConsumerConfig">
        <property name="check" value="${consume.service_check}"/>
    </bean>


    <!-- 消费者配置例子 -->
    <!--<bean parent="referenceBean">-->
        <!--<property name="interface" value="example.app.service.Say"/>-->
    <!--</bean>-->


</beans>